.tag-list-component {
  .search-form {
    padding: 0;
  }

  .ant-form-item {
    display: flex;
  }

  .ant-form-item-control-wrapper {
    flex: 1;
  }

  .search-result {
    margin-top: 24px;

    .ant-table-small {
      border: none;
    }
  }

  .tag-list-component__modal {
    .ant-form-item-label {
      width: 80px;
      float: left;
    }

    .ant-form-item-control-wrapper {
      margin-left: 80px;
    }
  }
}
